body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to bottom, #050510, #0a0f2c);
  color: white;
  overflow-x: hidden;
}

header {
  text-align: center;
  padding: 4rem 1rem;
}
