.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 320px));
  gap: 2rem;

  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;

  align-items: stretch;   /* penting */
}
.project-detail {
  padding: 4rem 10%;
  text-align: center;
}
